<h1 style="font-size:3rem;color:orange;">Eleições 2022 - Estatísticas do Banco de Dados</h1>

AVISO de Licença de Uso e Reserva de Direitos Autorais BSD 3 Clause. Copyright (c) 2022 por John Robson <john.robson@msn.com> (PIX)

Todo o Código fonte e demais arquivos estão sobre a Licença BSD 3 Clause. Modificações, Redistribuição, uso Comercial são permitidos, sempre informando
esse aviso de direitos autorais. Repositório oficial: https://github.com/JohnRobson/Eleicoes2022

In [1]:
%%javascript
IPython.OutputArea.auto_scroll_threshold = 9999;

In [2]:
import numpy as np
import pandas as pd
import timeit
import ast
from sqlalchemy import select, func

import matplotlib.pylab as plt
%matplotlib inline

from IPython.display import Markdown, display, HTML
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
display(HTML("<style>div.output_scroll { height: 100%; }</style>"))

from bd_urnas import engine, Base, Session, Urnas
from src_config import federacao, estados_federacao
session = Session()

def printmd(string): # convert markdown para HTML
    display(Markdown(string))

## Sobre as Urnas Usadas nas Eleições

In [3]:
printmd(f'''Total de Urnas Inseridas Usadas nas Eleições:

Durante o Primeiro Turno: **{session.execute("SELECT COUNT(id) FROM urnas WHERE turno=1").scalar()}** urnas.

Durante o Segundo Turno: **{session.execute("SELECT COUNT(id) FROM urnas WHERE turno=2").scalar()}** urnas.''')

Total de Urnas Inseridas Usadas nas Eleições:

Durante o Primeiro Turno: **472024** urnas.

Durante o Segundo Turno: **472027** urnas.

In [4]:
df = pd.read_sql_query('SELECT modelUrna AS "Modelo da Urna", COUNT(*) AS "Quantidade" from urnas GROUP BY modelUrna ORDER BY modelUrna', session.bind)

printmd('''obs: **UE0000** é o código para urnas sem o arquivo Log da urna e **UE1111** são os Logs de urna que não identificavam o modelo da urna.

No segundo turno, apenas o Pará enviou o arquivo BU ('.bu' ou '.busa') de 5 Urnas, mas não tem o arquivo de Log da Urna ('.logjez' ou '.logsajez') de um total de 18235 urnas.''')

df

obs: **UE0000** é o código para urnas sem o arquivo Log da urna e **UE1111** são os Logs de urna que não identificavam o modelo da urna.

No segundo turno, apenas o Pará enviou o arquivo BU ('.bu' ou '.busa') de 5 Urnas, mas não tem o arquivo de Log da Urna ('.logjez' ou '.logsajez') de um total de 18235 urnas.

  Modelo da Urna  Quantidade
0         UE0000          62
1         UE1111          10
2         UE2009       94881
3         UE2010      188155
4         UE2011       54425
5         UE2013       49658
6         UE2015      171529
7         UE2020      385331

## Votos Totais em Todos Estados

In [5]:
for i in [1, 2]:
    df = pd.read_sql_query(f'SELECT regiao, estado, SUM(vPresA22) AS "PresA22", SUM(vPresB13) AS "PresB13", SUM(vPresNulo) AS "PresNulo",\
    SUM(vPresBranco) AS "PresBranco", SUM(vGovA) AS "GovA", SUM(vGovB) AS "GovB", SUM(vGovNulo) AS "GovNulo", SUM(vGovBranco) AS "GovBranco"\
    FROM urnas WHERE turno={i} GROUP BY estado ORDER BY regiao', session.bind)
    df.fillna('', inplace=True) # substitui remove campos "NaN"

    printmd(f'Total de Votos para Presidente e Governador durante o 1o Turno em Todos os estados e exterior durante o {i}o Turno')
    df

    votos_presidente = df[['PresA22', 'PresB13', 'PresNulo', 'PresBranco']].sum()
    votos_presidente

    printmd(f'Total de Votos (Presidente) no {i}o Turno: **{votos_presidente.sum()}**')

Total de Votos para Presidente e Governador durante o 1o Turno em Todos os estados e exterior durante o 1o Turno

,regiao,estado,PresA22,PresB13,PresNulo,PresBranco,GovA,GovB,GovNulo,GovBranco
0,CO,DF,910397,649534,32163,25162,0.0,0.0,86099.0,65969.0
1,CO,GO,1920203,1454723,82589,48539,0.0,0.0,166471.0,152864.0
2,CO,MS,794206,588323,30509,17651,384275.0,361981.0,61130.0,53082.0
3,CO,MT,1102866,633748,30612,18680,0.0,0.0,162124.0,98676.0
4,EX,ZZ,122548,138933,4645,4857,,,,
5,N,AC,275582,129022,10322,4664,0.0,0.0,21077.0,7761.0
6,N,AM,880198,1019684,37525,19570,819784.0,401817.0,138218.0,58257.0
7,N,AP,187621,197382,7392,3289,0.0,0.0,21795.0,6494.0
8,N,PA,1884673,2443730,68473,40902,0.0,0.0,258639.0,99146.0
9,N,RO,581306,261749,14242,9350,315035.0,330656.0,44643.0,30765.0
10,N,RR,207587,68760,4780,2255,0.0,0.0,12357.0,3029.0
11,N,TO,379194,434303,22862,6795,0.0,0.0,38314.0,23065.0
12,NE,AL,621515,974156,52962,28792,407220.0,708984.0,193891.0,88769.0
13,NE,BA,2047599,5873081,328383,123450,3316711.0,4019830.0,499841.0,236750.0
14,NE,CE,1377827,3578355,127100,72246,0.0,0.0,249099.0,175459.0
15,NE,MA,983861,2603454,103185,35605,0.0,0.0,348048.0,120774.0
16,NE,PB,717416,1554868,93869,41922,520155.0,863174.0,252753.0,122399.0
17,NE,PE,1630938,3558322,196270,90092,1009556.0,0.0,543554.0,283316.0
18,NE,PI,406897,1518008,51782,19477,0.0,0.0,93799.0,54163.0
19,NE,RN,622731,1264179,57189,26151,0.0,0.0,162027.0,95721.0
20,NE,SE,378610,828716,46068,20224,294936.0,338796.0,84140.0,62604.0
21,S,PR,3628612,2363492,152885,108894,0.0,0.0,393173.0,329657.0
22,S,RS,3245023,2806672,122919,129345,2382026.0,1702815.0,190415.0,341049.0
23,S,SC,2694406,1279216,89619,66871,1575912.0,710859.0,166742.0,223025.0
24,SE,ES,1160030,897348,55218,39541,800598.0,976652.0,129835.0,101146.0
25,SE,MG,5239264,5802571,409170,229425,0.0,0.0,1089431.0,707694.0
26,SE,RJ,4831246,3847143,293013,159773,0.0,0.0,894384.0,591576.0
27,SE,SP,12239989,10490032,962123,571257,9881995.0,8337139.0,2149776.0,1645522.0

PresA22       51072345
PresB13       57259504
PresNulo       3487869
PresBranco     1964779
dtype: int64

Total de Votos (Presidente) no 1o Turno: **113784497**

Total de Votos para Presidente e Governador durante o 1o Turno em Todos os estados e exterior durante o 2o Turno

,regiao,estado,PresA22,PresB13,PresNulo,PresBranco,GovA,GovB,GovNulo,GovBranco
0,CO,DF,1041331,729295,38203,29663,,,,
1,CO,GO,2193041,1542115,81585,43610,,,,
2,CO,MS,880606,599547,51658,18062,612113.0,808210.0,88228.0,39059.0
3,CO,MT,1216730,652786,27398,16317,,,,
4,EX,ZZ,145264,152905,6079,5900,,,,
5,N,AC,287750,121566,6722,4722,,,,
6,N,AM,961741,1004991,79549,21594,1039192.0,795098.0,157882.0,72907.0
7,N,AP,200547,189918,6200,4018,,,,
8,N,PA,2073895,2509084,75159,43602,,,,
9,N,RO,633236,262904,20949,9428,415278.0,458370.0,31812.0,20103.0
10,N,RR,213518,67128,3450,2173,,,,
11,N,TO,411654,434593,17833,7158,,,,
12,NE,AL,687827,976831,96954,23376,759984.0,834278.0,140477.0,47668.0
13,NE,BA,2357028,6097815,395664,121221,4007023.0,4480464.0,363656.0,113101.0
14,NE,CE,1634477,3807891,139985,67045,,,,
15,NE,MA,1082749,2668425,67823,35807,,,,
16,NE,PB,802502,1601953,134293,35467,1104963.0,1221904.0,180953.0,61286.0
17,NE,PE,1798832,3640933,286535,74435,3113415.0,0.0,377950.0,113730.0
18,NE,PI,467065,1551383,51055,19027,,,,
19,NE,RN,711381,1326785,50048,20585,,,,
20,NE,SE,421086,862951,53190,18240,623851.0,582940.0,99505.0,47242.0
21,S,PR,4159343,2506605,138917,95555,,,,
22,S,RS,3733185,2891851,183360,122456,2767786.0,3687126.0,267276.0,202415.0
23,S,SC,3047630,1351918,86794,56475,2983949.0,1237016.0,141361.0,165455.0
24,SE,ES,1282145,926767,76143,37214,1006021.0,1171288.0,94782.0,46259.0
25,SE,MG,6141310,6190960,350808,183206,,,,
26,SE,RJ,5403894,4156217,287066,126645,,,,
27,SE,SP,14216587,11519882,1117345,526677,13480643.0,10909371.0,1849298.0,1102504.0

PresA22       58206354
PresB13       60345999
PresNulo       3930765
PresBranco     1769678
dtype: int64

Total de Votos (Presidente) no 2o Turno: **124252796**

In [ ]:
for i in range(11): print(f'* Urnas que os candidatos obteviveram até {i} Votos: Bolsonaro ({session.execute(f"SELECT COUNT(id) FROM urnas WHERE turno=1 AND vPresA22 <= {i}").scalar()}), Lula ({session.execute(f"SELECT COUNT(id) FROM urnas WHERE turno=1 AND vPresB13 <= {i}").scalar()})')

* Urnas que os candidatos obteviveram até 0 Votos: Bolsonaro (161), Lula (1)
* Urnas que os candidatos obteviveram até 1 Votos: Bolsonaro (417), Lula (5)
* Urnas que os candidatos obteviveram até 2 Votos: Bolsonaro (746), Lula (13)
* Urnas que os candidatos obteviveram até 3 Votos: Bolsonaro (1134), Lula (19)
* Urnas que os candidatos obteviveram até 4 Votos: Bolsonaro (1571), Lula (35)
* Urnas que os candidatos obteviveram até 5 Votos: Bolsonaro (2071), Lula (48)
* Urnas que os candidatos obteviveram até 6 Votos: Bolsonaro (2628), Lula (68)
* Urnas que os candidatos obteviveram até 7 Votos: Bolsonaro (3283), Lula (95)
* Urnas que os candidatos obteviveram até 8 Votos: Bolsonaro (3939), Lula (122)
* Urnas que os candidatos obteviveram até 9 Votos: Bolsonaro (4614), Lula (152)
* Urnas que os candidatos obteviveram até 10 Votos: Bolsonaro (5402), Lula (183)

In [8]:
for i in range(11): print(f'* Urnas que os candidatos obteviveram até {i} Votos: Bolsonaro ({session.execute(f"SELECT COUNT(id) FROM urnas WHERE turno=2 AND vPresA22 <= {i}").scalar()}), Lula ({session.execute(f"SELECT COUNT(id) FROM urnas WHERE turno=2 AND vPresB13 <= {i}").scalar()})')

* Urnas que os candidatos obteviveram até 0 Votos: Bolsonaro (143), Lula (4)
* Urnas que os candidatos obteviveram até 1 Votos: Bolsonaro (352), Lula (8)
* Urnas que os candidatos obteviveram até 2 Votos: Bolsonaro (617), Lula (13)
* Urnas que os candidatos obteviveram até 3 Votos: Bolsonaro (883), Lula (18)
* Urnas que os candidatos obteviveram até 4 Votos: Bolsonaro (1191), Lula (28)
* Urnas que os candidatos obteviveram até 5 Votos: Bolsonaro (1590), Lula (44)
* Urnas que os candidatos obteviveram até 6 Votos: Bolsonaro (2001), Lula (58)
* Urnas que os candidatos obteviveram até 7 Votos: Bolsonaro (2449), Lula (74)
* Urnas que os candidatos obteviveram até 8 Votos: Bolsonaro (2977), Lula (101)
* Urnas que os candidatos obteviveram até 9 Votos: Bolsonaro (3559), Lula (124)
* Urnas que os candidatos obteviveram até 10 Votos: Bolsonaro (4117), Lula (160)