<h1 style="font-size:3rem;color:orange;">Eleições 2022 - Estatísticas do Banco de Dados</h1>

AVISO de Licença de Uso e Reserva de Direitos Autorais BSD 3 Clause. Copyright (c) 2022 por John Robson <john.robson@msn.com> (PIX)

Todo o Código fonte e demais arquivos estão sobre a Licença BSD 3 Clause. Modificações, Redistribuição, uso Comercial são permitidos, sempre informando
esse aviso de direitos autorais. Repositório oficial: https://github.com/JohnRobson/Eleicoes2022

In [1]:
%%javascript
IPython.OutputArea.auto_scroll_threshold = 9999;

In [2]:
import numpy as np
import pandas as pd
import timeit
import ast
from sqlalchemy import select, func

import matplotlib.pylab as plt
%matplotlib inline

from IPython.display import Markdown, display, HTML
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
display(HTML("<style>div.output_scroll { height: 100%; }</style>"))

from bd_urnas import engine, Base, Session, Urnas
from src_config import federacao, estados_federacao
session = Session()

def printmd(string): # convert markdown para HTML
    display(Markdown(string))

## Sobre as Urnas Usadas nas Eleições

In [3]:
printmd(f'''Total de Urnas Inseridas Usadas nas Eleições:

Durante o Primeiro Turno: **{session.execute("SELECT COUNT(id) FROM urnas WHERE turno=1").scalar()}** urnas.

Durante o Segundo Turno: **{session.execute("SELECT COUNT(id) FROM urnas WHERE turno=2").scalar()}** urnas.''')

Total de Urnas Inseridas Usadas nas Eleições:

Durante o Primeiro Turno: **472024** urnas.

Durante o Segundo Turno: **472027** urnas.

In [4]:
df = pd.read_sql_query('SELECT modelUrna AS "Modelo da Urna", COUNT(*) AS "Quantidade" from urnas GROUP BY modelUrna ORDER BY modelUrna', session.bind)

printmd('''obs: **UE0000** é o código para urnas sem o arquivo Log da urna e **UE1111** são os Logs de urna que não identificavam o modelo da urna.

No segundo turno, apenas o Pará enviou o arquivo BU ('.bu' ou '.busa') de 5 Urnas, mas não tem o arquivo de Log da Urna ('.logjez' ou '.logsajez') de um total de 18235 urnas.''')

df

obs: **UE0000** é o código para urnas sem o arquivo Log da urna e **UE1111** são os Logs de urna que não identificavam o modelo da urna.

No segundo turno, apenas o Pará enviou o arquivo BU ('.bu' ou '.busa') de 5 Urnas, mas não tem o arquivo de Log da Urna ('.logjez' ou '.logsajez') de um total de 18235 urnas.

  Modelo da Urna  Quantidade
0         UE0000          62
1         UE1111          10
2         UE2009       94881
3         UE2010      188155
4         UE2011       54425
5         UE2013       49658
6         UE2015      171529
7         UE2020      385331

## Votos Totais em Todos Estados

In [5]:
for i in [1, 2]:
    df = pd.read_sql_query(f'SELECT regiao, estado, SUM(vPresA22) AS "PresA22", SUM(vPresB13) AS "PresB13", SUM(vPresNulo) AS "PresNulo",\
    SUM(vPresBranco) AS "PresBranco", SUM(vGovA) AS "GovA", SUM(vGovB) AS "GovB", SUM(vGovNulo) AS "GovNulo", SUM(vGovBranco) AS "GovBranco"\
    FROM urnas WHERE turno={i} GROUP BY estado ORDER BY regiao', session.bind)
    df.fillna('', inplace=True) # substitui remove campos "NaN"

    printmd(f'Total de Votos para Presidente e Governador durante o 1o Turno em Todos os estados e exterior durante o {i}o Turno')
    df

    votos_presidente = df[['PresA22', 'PresB13', 'PresNulo', 'PresBranco']].sum()
    votos_presidente

    printmd(f'Total de Votos (Presidente) no {i}o Turno: **{votos_presidente.sum()}**')

Total de Votos para Presidente e Governador durante o 1o Turno em Todos os estados e exterior durante o 1o Turno

,regiao,estado,PresA22,PresB13,PresNulo,PresBranco,GovA,GovB,GovNulo,GovBranco
0,CO,DF,910397,649534,32163,25162,832633.0,434587.0,86099.0,65969.0
1,CO,GO,1920203,1454723,82589,48539,1806892.0,516579.0,166471.0,152864.0
2,CO,MS,794206,588323,30509,17651,384275.0,361981.0,61130.0,53082.0
3,CO,MT,1102866,633748,30612,18680,1114549.0,267172.0,162124.0,98676.0
4,EX,ZZ,122548,138933,4645,4857,,,,
5,N,AC,275582,129022,10322,4664,242100.0,103265.0,21077.0,7761.0
6,N,AM,880198,1019684,37525,19570,819784.0,401817.0,138218.0,58257.0
7,N,AP,187621,197382,7392,3289,176208.0,222168.0,21795.0,6494.0
8,N,PA,1884673,2443730,68473,40902,1201079.0,3117276.0,258639.0,99146.0
9,N,RO,581306,261749,14242,9350,315035.0,330656.0,44643.0,30765.0
10,N,RR,207587,68760,4780,2255,163167.0,118856.0,12357.0,3029.0
11,N,TO,379194,434303,22862,6795,481496.0,186361.0,38314.0,23065.0
12,NE,AL,621515,974156,52962,28792,407220.0,708984.0,193891.0,88769.0
13,NE,BA,2047599,5873081,328383,123450,3316711.0,4019830.0,499841.0,236750.0
14,NE,CE,1377827,3578355,127100,72246,1649213.0,2808300.0,249099.0,175459.0
15,NE,MA,983861,2603454,103185,35605,857744.0,1769187.0,348048.0,120774.0
16,NE,PB,717416,1554868,93869,41922,520155.0,863174.0,252753.0,122399.0
17,NE,PE,1630938,3558322,196270,90092,1009556.0,1175651.0,543554.0,283316.0
18,NE,PI,406897,1518008,51782,19477,811806.0,1115139.0,93799.0,54163.0
19,NE,RN,622731,1264179,57189,26151,406461.0,1066496.0,162027.0,95721.0
20,NE,SE,378610,828716,46068,20224,294936.0,338796.0,84140.0,62604.0
21,S,PR,3628612,2363492,152885,108894,4243292.0,1598204.0,393173.0,329657.0
22,S,RS,3245023,2806672,122919,129345,2382026.0,1702815.0,190415.0,341049.0
23,S,SC,2694406,1279216,89619,66871,1575912.0,710859.0,166742.0,223025.0
24,SE,ES,1160030,897348,55218,39541,800598.0,976652.0,129835.0,101146.0
25,SE,MG,5239264,5802571,409170,229425,6094136.0,0.0,1089431.0,707694.0
26,SE,RJ,4831246,3847143,293013,159773,4930288.0,2300980.0,894384.0,591576.0
27,SE,SP,12239989,10490032,962123,571257,9881995.0,8337139.0,2149776.0,1645522.0

PresA22       51072345
PresB13       57259504
PresNulo       3487869
PresBranco     1964779
dtype: int64

Total de Votos (Presidente) no 1o Turno: **113784497**

Total de Votos para Presidente e Governador durante o 1o Turno em Todos os estados e exterior durante o 2o Turno

,regiao,estado,PresA22,PresB13,PresNulo,PresBranco,GovA,GovB,GovNulo,GovBranco
0,CO,DF,1041331,729295,38203,29663,,,,
1,CO,GO,2193041,1542115,81585,43610,,,,
2,CO,MS,880606,599547,51658,18062,612113.0,808210.0,88228.0,39059.0
3,CO,MT,1216730,652786,27398,16317,,,,
4,EX,ZZ,145264,152905,6079,5900,,,,
5,N,AC,287750,121566,6722,4722,,,,
6,N,AM,961741,1004991,79549,21594,1039192.0,795098.0,157882.0,72907.0
7,N,AP,200547,189918,6200,4018,,,,
8,N,PA,2073895,2509084,75159,43602,,,,
9,N,RO,633236,262904,20949,9428,415278.0,458370.0,31812.0,20103.0
10,N,RR,213518,67128,3450,2173,,,,
11,N,TO,411654,434593,17833,7158,,,,
12,NE,AL,687827,976831,96954,23376,759984.0,834278.0,140477.0,47668.0
13,NE,BA,2357028,6097815,395664,121221,4007023.0,4480464.0,363656.0,113101.0
14,NE,CE,1634477,3807891,139985,67045,,,,
15,NE,MA,1082749,2668425,67823,35807,,,,
16,NE,PB,802502,1601953,134293,35467,1104963.0,1221904.0,180953.0,61286.0
17,NE,PE,1798832,3640933,286535,74435,3113415.0,2190264.0,377950.0,113730.0
18,NE,PI,467065,1551383,51055,19027,,,,
19,NE,RN,711381,1326785,50048,20585,,,,
20,NE,SE,421086,862951,53190,18240,623851.0,582940.0,99505.0,47242.0
21,S,PR,4159343,2506605,138917,95555,,,,
22,S,RS,3733185,2891851,183360,122456,2767786.0,3687126.0,267276.0,202415.0
23,S,SC,3047630,1351918,86794,56475,2983949.0,1237016.0,141361.0,165455.0
24,SE,ES,1282145,926767,76143,37214,1006021.0,1171288.0,94782.0,46259.0
25,SE,MG,6141310,6190960,350808,183206,,,,
26,SE,RJ,5403894,4156217,287066,126645,,,,
27,SE,SP,14216587,11519882,1117345,526677,13480643.0,10909371.0,1849298.0,1102504.0

PresA22       58206354
PresB13       60345999
PresNulo       3930765
PresBranco     1769678
dtype: int64

Total de Votos (Presidente) no 2o Turno: **124252796**

In [6]:
for i in range(11): print(f'* Urnas que os candidatos obteviveram até {i} Votos: Bolsonaro ({session.execute(f"SELECT COUNT(id) FROM urnas WHERE turno=1 AND vPresA22 <= {i}").scalar()}), Lula ({session.execute(f"SELECT COUNT(id) FROM urnas WHERE turno=1 AND vPresB13 <= {i}").scalar()})')

* Urnas que os candidatos obteviveram até 0 Votos: Bolsonaro (161), Lula (1)
* Urnas que os candidatos obteviveram até 1 Votos: Bolsonaro (417), Lula (5)
* Urnas que os candidatos obteviveram até 2 Votos: Bolsonaro (746), Lula (13)
* Urnas que os candidatos obteviveram até 3 Votos: Bolsonaro (1134), Lula (19)
* Urnas que os candidatos obteviveram até 4 Votos: Bolsonaro (1571), Lula (35)
* Urnas que os candidatos obteviveram até 5 Votos: Bolsonaro (2071), Lula (48)
* Urnas que os candidatos obteviveram até 6 Votos: Bolsonaro (2628), Lula (68)
* Urnas que os candidatos obteviveram até 7 Votos: Bolsonaro (3283), Lula (95)
* Urnas que os candidatos obteviveram até 8 Votos: Bolsonaro (3939), Lula (122)
* Urnas que os candidatos obteviveram até 9 Votos: Bolsonaro (4614), Lula (152)
* Urnas que os candidatos obteviveram até 10 Votos: Bolsonaro (5402), Lula (183)

In [7]:
for i in range(11): print(f'* Urnas que os candidatos obteviveram até {i} Votos: Bolsonaro ({session.execute(f"SELECT COUNT(id) FROM urnas WHERE turno=2 AND vPresA22 <= {i}").scalar()}), Lula ({session.execute(f"SELECT COUNT(id) FROM urnas WHERE turno=2 AND vPresB13 <= {i}").scalar()})')

* Urnas que os candidatos obteviveram até 0 Votos: Bolsonaro (143), Lula (4)
* Urnas que os candidatos obteviveram até 1 Votos: Bolsonaro (352), Lula (8)
* Urnas que os candidatos obteviveram até 2 Votos: Bolsonaro (617), Lula (13)
* Urnas que os candidatos obteviveram até 3 Votos: Bolsonaro (883), Lula (18)
* Urnas que os candidatos obteviveram até 4 Votos: Bolsonaro (1191), Lula (28)
* Urnas que os candidatos obteviveram até 5 Votos: Bolsonaro (1590), Lula (44)
* Urnas que os candidatos obteviveram até 6 Votos: Bolsonaro (2001), Lula (58)
* Urnas que os candidatos obteviveram até 7 Votos: Bolsonaro (2449), Lula (74)
* Urnas que os candidatos obteviveram até 8 Votos: Bolsonaro (2977), Lula (101)
* Urnas que os candidatos obteviveram até 9 Votos: Bolsonaro (3559), Lula (124)
* Urnas que os candidatos obteviveram até 10 Votos: Bolsonaro (4117), Lula (160)

## Usando Pandas DataFrames

In [9]:
# Importando Banco de Dados para Python Pandas Dataframe
bd = pd.read_sql_query('SELECT id, turno, regiao, estado, municipio, zona, local, secao, vPresA22, vPresB13, vPresNulo, vPresBranco, vGovA,\
vGovB, vGovNulo, vGovBranco, qEleitAptos, qComparecimento, qEleitLibCodigo, qEleitBiometrico, modelUrna, arquivoBU FROM urnas', session.bind)

In [10]:
# Criação de Colunas Extas para Análises
bd['vGovTotal'] = bd['vGovA'] + bd['vGovB']
bd

,id,turno,regiao,estado,municipio,zona,local,secao,vPresA22,vPresB13,...,vGovB,vGovNulo,vGovBranco,qEleitAptos,qComparecimento,qEleitLibCodigo,qEleitBiometrico,modelUrna,arquivoBU,vGovTotal
0,1,1,CO,DF,97012,2,1465,272,146,127,...,99.0,7.0,7.0,395,327,22,289,UE2020,o00406-9701200020272.bu,229.0
1,2,1,CO,DF,97012,14,1619,357,113,151,...,131.0,11.0,6.0,373,321,10,304,UE2020,o00406-9701200140357.bu,231.0
2,3,1,CO,DF,97012,4,1520,342,174,114,...,49.0,14.0,26.0,397,332,23,316,UE2013,o00406-9701200040342.bu,185.0
3,4,1,CO,DF,97012,14,1015,6,180,73,...,67.0,7.0,7.0,363,287,9,265,UE2020,o00406-9701200140006.bu,187.0
4,5,1,CO,DF,97012,14,1031,281,131,137,...,113.0,10.0,16.0,364,312,16,287,UE2020,o00406-9701200140281.bu,215.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
944046,944047,2,EX,ZZ,29696,1,1040,1619,69,378,...,NaN,NaN,NaN,761,457,0,0,UE2009,o00407-2969600011619.bu,NaN
944047,944048,2,EX,ZZ,29696,1,1031,1601,103,136,...,NaN,NaN,NaN,607,253,0,0,UE2009,o00407-2969600011601.bu,NaN
944048,944049,2,EX,ZZ,29696,1,1031,1597,57,122,...,NaN,NaN,NaN,605,184,0,0,UE2009,o00407-2969600011597.bu,NaN
944049,944050,2,EX,ZZ,29696,1,1031,1594,68,225,...,NaN,NaN,NaN,551,301,0,0,UE2009,o00407-2969600011594.bu,NaN
944050,944051,2,EX,ZZ,29696,1,1031,1599,108,164,...,NaN,NaN,NaN,606,285,0,0,UE2009,o00407-2969600011599.bu,NaN

In [11]:
printmd(f'Modelos de Urnas Usadas nas eleições, e quantidade por modelo de urna.')
bd[bd['turno'] == 2].groupby(['modelUrna'])['modelUrna'].count()

printmd(f'Modelos de Urnas Usadas nas eleições, e quantidade por modelo para cada turno.')
bd.groupby(['turno', 'modelUrna'])['modelUrna'].count()

Modelos de Urnas Usadas nas eleições, e quantidade por modelo de urna.

modelUrna
UE0000         5
UE2009     48245
UE2010     93790
UE2011     26889
UE2013     24672
UE2015     85735
UE2020    192691
Name: modelUrna, dtype: int64

Modelos de Urnas Usadas nas eleições, e quantidade por modelo para cada turno.

turno  modelUrna
1      UE0000           57
       UE1111           10
       UE2009        46636
       UE2010        94365
       UE2011        27536
       UE2013        24986
       UE2015        85794
       UE2020       192640
2      UE0000            5
       UE2009        48245
       UE2010        93790
       UE2011        26889
       UE2013        24672
       UE2015        85735
       UE2020       192691
Name: modelUrna, dtype: int64

In [12]:
printmd(f'Estados com votos para Governador no Segundo Turno')
bd[bd['turno'] == 2]

Estados com votos para Governador no Segundo Turno

,id,turno,regiao,estado,municipio,zona,local,secao,vPresA22,vPresB13,...,vGovB,vGovNulo,vGovBranco,qEleitAptos,qComparecimento,qEleitLibCodigo,qEleitBiometrico,modelUrna,arquivoBU,vGovTotal
472024,472025,2,CO,DF,97012,9,1082,88,108,80,...,NaN,NaN,NaN,232,191,14,167,UE2020,o00407-9701200090088.bu,NaN
472025,472026,2,CO,DF,97012,9,1287,397,140,111,...,NaN,NaN,NaN,307,264,12,246,UE2020,o00407-9701200090397.bu,NaN
472026,472027,2,CO,DF,97012,9,1147,162,167,109,...,NaN,NaN,NaN,329,284,27,283,UE2020,o00407-9701200090162.bu,NaN
472027,472028,2,CO,DF,97012,9,1147,150,156,108,...,NaN,NaN,NaN,325,277,18,273,UE2020,o00407-9701200090150.bu,NaN
472028,472029,2,CO,DF,97012,9,1384,429,175,157,...,NaN,NaN,NaN,395,341,19,259,UE2020,o00407-9701200090429.bu,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
944046,944047,2,EX,ZZ,29696,1,1040,1619,69,378,...,NaN,NaN,NaN,761,457,0,0,UE2009,o00407-2969600011619.bu,NaN
944047,944048,2,EX,ZZ,29696,1,1031,1601,103,136,...,NaN,NaN,NaN,607,253,0,0,UE2009,o00407-2969600011601.bu,NaN
944048,944049,2,EX,ZZ,29696,1,1031,1597,57,122,...,NaN,NaN,NaN,605,184,0,0,UE2009,o00407-2969600011597.bu,NaN
944049,944050,2,EX,ZZ,29696,1,1031,1594,68,225,...,NaN,NaN,NaN,551,301,0,0,UE2009,o00407-2969600011594.bu,NaN
944050,944051,2,EX,ZZ,29696,1,1031,1599,108,164,...,NaN,NaN,NaN,606,285,0,0,UE2009,o00407-2969600011599.bu,NaN